* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form {
    text-align: center;
    padding: 20px;
}

.search {
    height: 50px;
    width: 520px;
    padding: 0px 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    font-size: .7em;
}

.search::placeholder {
    color: gray;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    grid-gap: 25px 22px;
}

img {
    height: 200px;
    width: 200px;
}
